#ninja-main-desc{
    color: white;
    font-size: 18px;
}

.ninja-main-image{
    background-image: url('./image/turtle-4.jpg');
}
@media only screen and (max-width: 600px) {
    #ninja-main-desc{
        font-size: 14px;
    }
}
#turltle-dedicated-page{
    padding-top: 100px;
    background: white;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.turtle-image{
    height: 150px;
    width: 150px;
    border: 1px solid black;
}
.template-text-ninja{
    color: white;
    font-size: 18px;
}

.ninja-turtle-title{
    color: white;
    font-size: 20px;
}
.ninja-turtle-desc{
    color: #cdff00a6;
    font-size: 18px;
}